body{
    background-color: rgb(229, 244, 178);
}
/* .container-sar .cs h2{
    margin-bottom: -15px;
}
.container-sar .cs h3{
    margin-bottom: -15px;
} */

.container-sar .card-00 img{
    border: 3px solid #35393a;
    margin-top: 80px;
    margin-left: 50px;
    
}
 .cs{
    margin-left: 50px;
    margin-top: 80px;
 }


.container-sar{
    display: flex;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(215, 223, 201);
}
nav{
    background-color: rgba(166, 166, 102, 0.953);
    height: 100x;
    width: 100%;
}
nav .logo{
    color: rgb(29, 29, 34);
    font-size: 35px;
    line-height: 60px;
    padding: 500px;
    font-weight: bold;
}

 nav  img{
    border-radius: 50%;
    margin-left: -1300px;
    margin-top: 15px;
 }
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin-top:55px;
}
nav ul li{
    color: aliceblue;
}